<template>
  <header>
    <div class="row flex-nowrap justify-content-center align-items-center">
      <div class="col-12 text-center">
        <img srcset="../assets/imagem-3.png 1x, ../assets/imagem-3@2x.png 2x" />
        <a href="#">{{ msg }}</a>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'HomePage',
  props: {
    msg: String
  }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
header{
  height:109px;
  background-color: #363636;
  img{
    margin-right:30px;
  }
  a{
    font-family: 'Montserrat', sans-serif;
    vertical-align:top;
    font-size:23px;
    font-weight:bold;
    letter-spacing: 0.68px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top:-54px;
    text-decoration:none;
    line-height:109px;
  }
  a:hover{
    text-decoration:none;
    color: #ffffff;
  }
}
</style>
