<template>
  <div id="root">
    <HomePage msg="SuperGiantGames"/>
  </div>
</template>

<script>
import HomePage from './components/HomePage.vue'

export default {
  name: 'App',
  components: {
    HomePage
  }
}
</script>

<style>

</style>
